<% if @post.errors.any? %>
  <%= @post.errors.count %>件の未入力があります。再度実行して下さい。
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @post, url: post_path(@post.id), local:true do |f| %>
  <div class="form-group">
    <%= f.label "写真" %>
    <%= f.file_field :post_image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <%= f.label "説明文" %>
    <%= f.text_field :explanation %>
  </div>
  <div class="form-group">
    <%= f.label :world_url %>
    <%= f.text_field :world_url %>
  </div>
  <div class="form-group">
    <%= f.label"タグ (,で区切ると複数タグ登録できます、未記入でも構いません)" %>
    <%= f.text_field :tag_name,value: @tag_list,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.submit "変更を保存する", class: 'btn btn-success' %>
    <%= link_to 'この投稿を消す', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@post.id}"%>
  </div>
<% end %>