
    <div class='col-md-8 offset-md-1'>
      <div class="container">
      <h3>タグ一覧</h3>
      <!--タグリスト-->
        <% @tag_list.each do |list|%>
          <%=link_to list.name,search_tag_path(tag_id: list.id) %>
          <%="(#{list.posts.count})" %>
        <% end %>
      </div>
      <h2>投稿一覧</h2>
        <% @posts.each do |po| %>
          <div>
            <%= link_to post_path(po.id) do %>
            <%= image_tag po.get_post_image(200,200) %>
            <% end %>
          </div>
          <div><%= po.explanation %></div>
          <div><%= link_to "投稿を編集する", edit_post_path(po.id) %></div>
          <div class="fas fa-tag"><%= po.tags.map(&:name).join(', ') %></div>
          <% po.tags.each do |tag| %>
            <div><%= tag.name %></div>
            <div><%="(#{tag.posts.count})" %></div>
          <% end %>
        <% end %>
    </div>
