<!--タグリスト-->
<% @tag_list.each do |list|%>
  <% post_count = list.posts.count %>
  <% if post_count > 0 %>
    <%= link_to list.name,search_tag_path(tag_id: list.id) %>
    <%= "(#{post_count})" %>
  <% end %>
<% end %>
<% @posts.each do |post| %>
<!--投稿はカードで囲む-->
<div class="card">
  <div class="card-body">
    <!--表示される文字数は２５文字まで-->
    <h6 class="card-title">
      <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_post_image(100,100) %>
      <%= post.explanation.truncate(50) %>
      <% end %>
      <div id="favorite-btn_<%= post.id %>">
      <%= render "public/favorites/favorites-btn", post: post %></div>
      <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
    </h6>
    <!--お気に入り、コメント数、投稿者は部分テンプレ-->
  </div>
</div>
<% end %>