<div class="container">
  <div><%= image_tag @post.get_post_image(1000,1000) %></div>
  <div>
  <%= link_to user_path(@post.user.id) do %>
    <%= @post.user.name %>
  <% end %>
  </div>
  <div><%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %></div>
  <div><%= @post.explanation %></div>
  <div><%= @post.world_url %></div>
  <div class="fas fa-tag"><%= @post.tags.map(&:name).join(', ') %></div>
  <% @post_tags.each do |tag| %>
    <div><%=tag.name%><%="(#{tag.posts.count})" %></div>
  <% end %>
  <!--投稿したユーザーしかeditに飛ばすリンクを表示させない-->
  <% if user_signed_in? && current_user.id == @post.user.id %>
    <%= link_to "投稿を編集する", edit_post_path(@post.id), class: "btn btn-sm btn-success" %>
  <% end %>
  <div id="favorite-btn_<%= @post.id %>">
    <%= render "public/favorites/favorites-btn", post: @post %>
  </div>
  <div id="public_post_comments_index_<%= @post.id %>" >
    <%= render "public/post_comments/post_comments_index", post: @post %>
  </div>
  <% if user_signed_in? %>
  <div id="public_post_comments_form_<%= @post.id %>" >
    <%= render "public/post_comments/post_comments_form", post: @post, post_comment: @post_comment %>
  </div>
  <% else %>
  コメント機能といいね機能は登録後にご利用可能です。
  <% end %>
</div>
