<div class="d-flex justify-content-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2>LOGIN</h2>
    <!--p class="field">
      <%#= f.label :name %><br />
      <%#= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </p-->

    <p class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </p>

    <p class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </p>

    <% if devise_mapping.rememberable? %>
      <p class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </p>
    <% end %>

    <p class="actions">
      <%= f.submit "Log in" %>
    </p>
  <%#= render "public/shared/links" %>
  <%#= link_to user_twitter_omniauth_authorize_path do %>
    <!--i class="fab fa-twitter"></i-->
  <%# end %>
  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "#{OmniAuth::Utils.camelize(provider)}アカウントでログイン", omniauth_authorize_path(resource_name, provider), class:"fa-brands fa-twitter", method: :post %>
    <% end %>
  <% end %>

  <% end %>

</div>


