<div class="pb-4 offset-2">
  <div class="ml-5 pl-5">
    <h3 class="ml-5 mini-title">profile edit</h3>
  </div>
</div>

<div class="row px-5 mx-5">
  <div class="col-6 offset-3">
    <%= form_with model: @user, url: user_path do |f| %>
      <div class="field form-group row">
        <%= f.label :name, class: "col-3" %>
        <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "名前", size: "40x20" %>
      </div>
      <div class="field form-group row">
        <%= f.label :profile_image, class: "col-3" %>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
      </div>
      <div class="field form-group row">
        <%= f.label :Introduction, class: "col-3" %>
        <%= f.text_field :Introduction, autofocus: true, id: "inputIntroduction", placeholder: "自己紹介文", size: "40x20" %>
      </div>
      <div class="actions form-group row mt-5">
        <div class="col-4 offset-4">
          <%= f.submit "save", class:"btn btn-success btn-lg px-5" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-3"><%= link_to 'アカウントを消す', @user, method: :delete, data: { confirm: '本当に消しますか？(削除すると投稿がすべて消え、一部機能が使えなくなります。
またご利用の際は新規登録からよろしくお願いします。)' }, class: "btn btn-sm btn-danger destroy_user_#{@user.id}"%></div>
</div>

