<%= form_with model: @user, url: user_path do |f| %>
  <label for="inputName">ユーザーネーム</label>
  <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "名前" %>
  <label for="inputImage">プロフィール画像</label>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
  <label for="inputIntroduction">自己紹介文</label>
  <%= f.text_field :Introduction, autofocus: true, id: "inputIntroduction", placeholder: "自己紹介文" %>
  <%= f.submit "変更を保存" %>
<% end %>


<%= link_to 'アカウントを消す', @user, method: :delete, data: { confirm: '本当に消しますか？(削除すると投稿がすべて消え、一部機能が使えなくなります。
またご利用の際は新規登録からよろしくお願いします。)' }, class: "btn btn-sm btn-danger destroy_user_#{@user.id}"%>