<html>
  <head>
    <title>VRPP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= yield :css %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <div class="container col-md-10">
          <%= link_to image_tag("VRPP_logo.jpg", width: '50%', height: '50%'), root_path %>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <%= link_to "マイページ", user_path(current_user), class: 'nav-link text-white'%>
            </li>
            <li>
              <%= link_to "投稿", new_post_path, class: 'nav-link text-white' %>
            </li>
            <li>
              <%= link_to "投稿一覧", posts_path, class: 'nav-link text-white'%>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white'%>
            </li>
            <% else %>
            <li>
              <%= link_to "投稿一覧", posts_path, class: 'nav-link text-white'%>
            </li>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white'%>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white'%>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
  <footer class="bg-info text-white py-4 fixed-bottom">
    <div class="container">
      <div class="row no-gutters">
        <div class="mx-auto">Virtual Reality Photo Post</div>
      </div>
    </div>
  </footer>
</html>
